<h1>{{title}}</h1>

<form>

  Nombre: <input type="text" name="nombre" [(ngModel)]="nombre"/><br/>
  Apellido: <input type="text" name="apellido" [(ngModel)]="apellido"/><br/>

  <input type="submit" value="Registrar" (click)="registrarUsuario()">

</form>

<br/>

<p *ngIf="registrado else sinRegistrar">{{mensaje}} con el nombre de: {{nombre}} {{apellido}}</p>

<ng-template #sinRegistrar>

  <p>Nadie se ha registrado</p>

</ng-template>

<br/><br/>

<ul>

  <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>

</ul>